img {
    border: 10px inset rgb(255, 255, 255);
    width: 100%;
    height: 500px;
}

#difficulty_per_location .axis.x { 
    display: none; 
}

#start-location, #end-location {
    background-color: grey;
    padding: 10px;
}

#difficulty_per_location {
    background-color: grey;
    padding: 10px;
    margin: 0px auto;

}

#type_of_quest {
    background-color: grey;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

