img {
    border: 10px inset rgb(255, 255, 255);
    width: 100%;
    height: 500px;
}

#difficulty_per_location .x.axis text {
    transform: rotate(-45deg) translate(-50px);
   
}

#start-location, #end-location {
    background-color: grey;
    margin-top: 10px;
}

#difficulty_per_location {
    background-color: grey;
    padding: 10px;
}

#type_of_quest {
    background-color: grey;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

