img {
    border: 10px inset rgb(255, 255, 255);
    width: 100%;
    height: 500px;
}

#difficulty_per_location .x.axis text {
    transform: rotate(-45deg) translate(-50px);
}

#start-location, #end-location {
    margin-top: 10px;
    width: 100%;
    background-color: #bca26f;
}


#difficulty_per_location {
    background-color: #bca26f;
}

#type_of_quest, #location_same_or_different {
    padding: 15px;
    margin-top: 10px;
    width: 100%;
    background-color: #bca26f;
}


